---
import AlbumMetadata from "@/components/AlbumMetadata.astro";
import SongList from "@/components/SongList.astro";
import { defaultLang } from "@/i18n/ui";
import Layout from "@/layouts/Layout.astro";
import { slugify } from "@/utils";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const albums = await getCollection("album", (album) => {
    const [albumLanguage] = album.id.split("/");
    return albumLanguage !== defaultLang;
  });

  return albums.map((album) => {
    const [albumLanguage, ...slug] = album.id.split("/");
    let url = slugify(slug.join());
    if (album.data.slug) {
      url = album.data.slug;
    }
    return {
      params: { slug: url, lang: albumLanguage },
      props: album,
    };
  });
}

const album = Astro.props;
---

<Layout title={[album.data.title, "Album"]}>
  <div class="max-w-3xl mx-auto px-6 py-8 flex flex-col gap-4">
    {
      album.data.title && (
        <h1
          class="font-medium text-2xl text-[var(--foreground)]"
          title={album.data.title}
        >
          💿 {album.data.title}
        </h1>
      )
    }
    <SongList songTitles={album.data.list} />
    {
      (album.data.englishTitle ||
        album.data.chiefExecutiveProducer ||
        album.data.musicDirector ||
        album.data.producer ||
        album.data.coProducer ||
        album.data.coordinator ||
        album.data.albumFormat ||
        album.data.notes ||
        album.data.albumType) && (
        <AlbumMetadata
          englishTitle={album.data.englishTitle}
          chiefExecutiveProducer={album.data.chiefExecutiveProducer}
          musicDirector={album.data.musicDirector}
          producer={album.data.producer}
          albumFormat={album.data.albumFormat}
          albumType={album.data.albumType}
          notes={album.data.notes}
          coProducer={album.data.coProducer}
          coordinator={album.data.notes}
        />
      )
    }
  </div>
</Layout>
