---
import { getCollection } from 'astro:content'
import Button from '@/components/Button.astro'
import ConcertMetadata from '@/components/ConcertMetadata.astro'
import SongList from '@/components/SongList.astro'
import { defaultLang } from '@/i18n/ui'
import { useTranslatedPath, useTranslations } from '@/i18n/utils'
import Layout from '@/layouts/Layout.astro'
import { slugify } from '@/utils/utils'
import { Icon } from 'astro-icon/components'

export async function getStaticPaths() {
  const concerts = await getCollection('concert', (concert) => {
    const [concertLanguage] = concert.id.split('/')
    return concertLanguage === defaultLang
  })

  return concerts.map((concert) => {
    const [_, ...slugs] = concert.id.split('/')
    return {
      params: { slug: slugify(slugs.join()) },
      props: { concert },
    }
  })
}

const { concert } = Astro.props

const t = useTranslations(defaultLang)
const translatePath = useTranslatedPath(defaultLang)
---

<Layout
  title={concert.data.title ? [concert.data.title, "Concert"] : "Concert"}
>
  <div class="flex flex-col gap-4">
    {
      concert.data.title && (
        <h1
          class="font-medium text-2xl text-[var(--foreground)]"
          title={concert.data.title}
        >
          🎤 {concert.data.title}
        </h1>
      )
    }
    <SongList songTitles={concert.data.list} />
    <ConcertMetadata concert={concert} />
  </div>
  {
    concert.data.talkingPageSlug && (
      <slot slot="header-right">
        <a href={translatePath(`/talking/${concert.data.talkingPageSlug}`)}>
          <Button>
            <Icon name="ph:chat-dots" class="w-4 h-4 mr-2" />
            {t("concert.goToTalkingPage")}
          </Button>
        </a>
      </slot>
    )
  }
</Layout>
