---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import MetadataStringsItem from "./MetadataStringsItem.astro";
import dayjs from "dayjs";

interface Props {
  // 巡演
  tour?: string;
  // 开始时间
  startTime?: string;
  // 结束时间
  endTime?: string;
  // 嘉宾
  guests?: string | string[];
  // 地点
  place?: string;
  // 地址
  location?: string;
  // 日期
  date?: Date;
}

const props: Props = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="leading-7 p-4 my-4 border-s-4 rounded-md border-gray-300 bg-gray-100 dark:border-gray-500 dark:bg-gray-800 text-[var(--foreground)]"
>
  {
    props.tour && (
      <p class="break-all">
        {t("concertMetadata.tour")}：{props.tour}
      </p>
    )
  }
  {
    props.place && (
      <p class="break-all">
        {t("concertMetadata.place")}：{props.place}
      </p>
    )
  }
  {
    props.location && (
      <p class="break-all">
        {t("concertMetadata.location")}：{props.location}
      </p>
    )
  }
  {
    props.date && (
      <p class="break-all">
        {t("concertMetadata.date")}：{dayjs(props.date).format("YYYY-MM-DD")}
      </p>
    )
  }
  {
    props.startTime && (
      <p class="break-all">
        {t("concertMetadata.startTime")}：
        <span>{props.startTime}</span>
      </p>
    )
  }
  {
    props.endTime && (
      <p class="break-all">
        {t("concertMetadata.endTime")}：
        <span>{props.endTime}</span>
      </p>
    )
  }
  {
    props.guests && (
      <p class="break-all">
        {t("concertMetadata.guests")}：
        <MetadataStringsItem value={props.guests} />
      </p>
    )
  }
</div>
