---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { durationToHms } from "@/utils";
import dayjs from "dayjs";
import SongMetadataStringsItem from "./SongMetadataStringsItem.astro";

interface Props {
  // 英文标题
  englishTitle?: string;
  // 专辑
  album?: string;
  // 长度（秒）
  duration?: number;
  // 歌手
  artist?: string[] | string;
  // 作词者
  lyricist?: string[] | string;
  // 编曲者
  arranger?: string[] | string;
  // 作曲者
  composer?: string[] | string;
  // 制作人
  producer?: string[] | string;
  // 发布日期
  releaseDate?: Date;
  // ISRC, see <https://en.wikipedia.org/wiki/International_Standard_Recording_Code>.
  isrc?: string;
  // 混音工程师
  mixingEngineer?: string[] | string;
  // 电吉他
  electricGuitar?: string[] | string;
  // 贝斯
  bass?: string[] | string;
  // 鼓
  drums?: string[] | string;
  // 键盘
  keyboard?: string[] | string;
  // 吉他
  guitar?: string[] | string;
  // 钢琴
  piano?: string[] | string;
  // 录音工程师
  recordingEngineer?: string[] | string;
  // 母带工程师
  masteringEngineer?: string[] | string;
  // 录音室
  recordingStudio?: string[] | string;
}

const props = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="p-4 my-4 border-s-4 rounded-md border-gray-300 bg-gray-50 dark:border-gray-500 dark:bg-gray-800"
>
  {
    props.englishTitle && (
      <p class="break-all">
        {t("songMetadata.englishTitle")}：{props.englishTitle}
      </p>
    )
  }
  {
    props.duration && (
      <p class="break-all">
        {t("songMetadata.duration")}：{durationToHms(props.duration)}
      </p>
    )
  }
  {
    props.album && (
      <p class="break-all">
        {t("songMetadata.album")}：{props.album}
      </p>
    )
  }
  {
    props.releaseDate && (
      <p class="break-all">
        {t("songMetadata.releaseDate")}：
        {dayjs(props.releaseDate).format("YYYY-MM-DD")}
      </p>
    )
  }
  {
    props.artist && (
      <p class="break-all">
        {t("songMetadata.artist")}：<SongMetadataStringsItem value={props.artist}></SongMetadataStringsItem>
      </p>
    )
  }
  {
    props.lyricist && (
      <p class="break-all">
        {t("songMetadata.lyricist")}：<SongMetadataStringsItem value={props.lyricist}></SongMetadataStringsItem>
      </p>
    )
  }
  {
    props.arranger && (
      <p class="break-all">
        {t("songMetadata.arranger")}：<SongMetadataStringsItem value={props.arranger}>
      </p>
    )
  }
  {
    props.composer && (
      <p class="break-all">
        {t("songMetadata.composer")}：<SongMetadataStringsItem value={props.composer}>
      </p>
    )
  }
  {
    props.producer && (
      <p class="break-all">
        {t("songMetadata.producer")}：<SongMetadataStringsItem value={props.producer}>
      </p>
    )
  }
  {
    props.guitar && (
      <p class="break-all">
        {t("songMetadata.guitar")}：<SongMetadataStringsItem value={props.guitar}></SongMetadataStringsItem>
      </p>
    )
  }
  {
    props.electricGuitar && (
      <p class="break-all">
        {t("songMetadata.electricGuitar")}：<SongMetadataStringsItem value={props.electricGuitar}></SongMetadataStringsItem>
      </p>
    )
  }
  {
    props.bass && (
      <p class="break-all">
        {t("songMetadata.bass")}：<SongMetadataStringsItem value={props.bass}></SongMetadataStringsItem>
      </p>
    )
  }
  {
    props.drums && (
      <p class="break-all">
        {t("songMetadata.drums")}：<SongMetadataStringsItem value={props.drums}></SongMetadataStringsItem>
      </p>
    )
  }
  {
    props.piano && (
      <p class="break-all">
        {t("songMetadata.piano")}：<SongMetadataStringsItem value={props.piano}></SongMetadataStringsItem>
      </p>
    )
  }
  {
    props.keyboard && (
      <p class="break-all">
        {t("songMetadata.keyboard")}：<SongMetadataStringsItem value={props.keyboard}></SongMetadataStringsItem>
      </p>
    )
  }
  {
    props.recordingEngineer && (
      <p class="break-all">
        {t("songMetadata.recordingEngineer")}：<SongMetadataStringsItem value={props.recordingEngineer}></SongMetadataStringsItem>
      </p>
    )
  }
  {
    props.masteringEngineer && (
      <p class="break-all">
        {t("songMetadata.masteringEngineer")}：<SongMetadataStringsItem value={props.masteringEngineer}></SongMetadataStringsItem>
      </p>
    )
  }
  {
    props.mixingEngineer && (
      <p class="break-all">
        {t("songMetadata.mixingEngineer")}：<SongMetadataStringsItem value={props.mixingEngineer}></SongMetadataStringsItem>
      </p>
    )
  }
  {
    props.recordingStudio && (
      <p class="break-all">
        {t("songMetadata.recordingStudio")}：<SongMetadataStringsItem value={props.recordingStudio}></SongMetadataStringsItem>
      </p>
    )
  }
  {props.isrc && <p class="break-all">ISRC：{props.isrc}</p>}
</div>
